@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


.bitcount-grid-double-texto-botao{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: italic;
  font-variation-settings:
    "slnt" 1,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.clicked{
    transform: translateY(20px);
    box-shadow: 0 0 0 darkred;

}

.ComicNeue{
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.explode{
  animation: explode 0.5s ease-out;
}

@keyframes explode{
  0% {transform: scale(0);}
  60% {transform: scale(1.2);}
  100%{transform: scale(1);}
}

